/* Estilo general */
html {
    font-size: initial;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #4CAF50, #FFFFFF);
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    font-size: initial;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

.container {
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #4CAF50;
}

button {
    width: 100%;
    padding: 0.8rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #388E3C;
}

/* Ajuste para centrar mejor los campos de entrada */
input[type="text"], input[type="password"] {
    display: block;
    margin: 0.5rem auto;
    width: calc(100% - 2rem);
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 0.9rem;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}